.searchPage__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 20px 25px;
    border-bottom: 1px solid lightgray;
}

.searchPage__header a {
    outline: 0;
}

.searchPage__logo {
    object-fit: contain;
    width: 92px;
    margin-right: 45px;
    margin-top: 12px;
}

.searchPage__headerBody > .search > .search__input {
    margin-top: 0;
    margin: unset;
    height: 46px;
}

.searchPage__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
